# Build folders

/out/
/build/
/cmake-build-*/

# CMake

CMakeCache.txt
CMakeFiles/
_deps/
cmake_install.cmake
compile_commands.json
Makefile

# Visual Studio

.vs/
*.VC.db
*.VC.opendb

# Object files

*.o
*.obj
*.lo
*.slo

# Dependency files

*.d

# Precompiled headers

*.gch
*.pch

# Libraries

*.a
*.lib
*.la
*.lai
*.so
*.dylib
*.dll

# Executables

*.exe
*.out
*.app

# Debug symbols

*.pdb
*.ilk

# Logs

*.log
